.item{
    display: inline-block;
    background-color: aqua;
    width: 200px;
    margin: 10px auto;
}

.delete-icon{
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
    background-color: red;
    width: 30px;
}
